@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-kzomyj');
	src:url('../fonts/icomoon.eot?#iefix-kzomyj') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-kzomyj') format('woff'),
		url('../fonts/icomoon.ttf?-kzomyj') format('truetype'),
		url('../fonts/icomoon.svg?-kzomyj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon_bulb_2:before {
	content: "\e609";
}
.icon_logofont:before {
	content: "\e600";
}
.icon_logolong:before {
	content: "\e601";
}
.icon_logo:before {
	content: "\e602";
}
.icon_speaker:before {
	content: "\e603";
}
.icon_search:before {
	content: "\e604";
}
.icon_bulb_1:before {
	content: "\e67f";
}
.icon_spinner:before {
	content: "\e605";
}
.icon_cog:before {
	content: "\e606";
}
.icon_user:before {
	content: "\e607";
}
.icon_envelope:before {
	content: "\e608";
}
.icon_squirrel:before {
	content: "\f0b2";
}
.icon_tag:before {
	content: "\e60a";
}
.icon_tags:before {
	content: "\e60b";
}
.icon_barcode:before {
	content: "\e60c";
}
.icon_qrcode:before {
	content: "\e60d";
}
.icon_loading_1:before {
	content: "\e60e";
}
.icon_loading_2:before {
	content: "\e60f";
}
.icon_loading_3:before {
	content: "\e610";
}
.icon_cog2:before {
	content: "\e680";
}
.icon_expression_happy:before {
	content: "\e611";
}
.icon_expression_happy_2:before {
	content: "\e612";
}
.icon_expression_smiley:before {
	content: "\e613";
}
.icon_expression_smiley_2:before {
	content: "\e614";
}
.icon_expression_tongue:before {
	content: "\e615";
}
.icon_expression_tongue_2:before {
	content: "\e616";
}
.icon_expression_sad:before {
	content: "\e617";
}
.icon_expression_sad_2:before {
	content: "\e618";
}
.icon_expression_wink:before {
	content: "\e619";
}
.icon_expression_wink_2:before {
	content: "\e61a";
}
.icon_expression_grin:before {
	content: "\e61b";
}
.icon_expression_grin_2:before {
	content: "\e61c";
}
.icon_expression_cool:before {
	content: "\e61d";
}
.icon_expression_cool_2:before {
	content: "\e61e";
}
.icon_expression_angry:before {
	content: "\e61f";
}
.icon_expression_angry_2:before {
	content: "\e620";
}
.icon_expression_evil:before {
	content: "\e621";
}
.icon_expression_evil_2:before {
	content: "\e622";
}
.icon_expression_shocked:before {
	content: "\e623";
}
.icon_expression_shocked_2:before {
	content: "\e624";
}
.icon_expression_confused:before {
	content: "\e625";
}
.icon_expression_confused_2:before {
	content: "\e626";
}
.icon_expression_neutral:before {
	content: "\e627";
}
.icon_expression_neutral_2:before {
	content: "\e628";
}
.icon_expression_wondering:before {
	content: "\e629";
}
.icon_expression_wondering_2:before {
	content: "\e62a";
}
.icon_mail:before {
	content: "\e681";
}
.icon_youtube:before {
	content: "\e682";
}
.icon_youtube2:before {
	content: "\e683";
}
.icon_apple:before {
	content: "\e62b";
}
.icon_android:before {
	content: "\e62c";
}
.icon_windows:before {
	content: "\e62d";
}
.icon_windows8:before {
	content: "\e62e";
}
.icon_chrome:before {
	content: "\e62f";
}
.icon_firefox:before {
	content: "\e630";
}
.icon_IE:before {
	content: "\e631";
}
.icon_opera:before {
	content: "\e632";
}
.icon_safari:before {
	content: "\e684";
}
.icon_number_1:before {
	content: "\e633";
}
.icon_number_2:before {
	content: "\e634";
}
.icon_number_3:before {
	content: "\e635";
}
.icon_number_4:before {
	content: "\e636";
}
.icon_number_5:before {
	content: "\e637";
}
.icon_number_6:before {
	content: "\e638";
}
.icon_number_7:before {
	content: "\e639";
}
.icon_number_8:before {
	content: "\e63a";
}
.icon_number_9:before {
	content: "\e63b";
}
.icon_number_0:before {
	content: "\e63c";
}
.icon_number_base_1:before {
	content: "\e63d";
}
.icon_number_base_2:before {
	content: "\e63e";
}
.icon_number_base_3:before {
	content: "\e63f";
}
.icon_number_base_4:before {
	content: "\e640";
}
.icon_number_base_5:before {
	content: "\e641";
}
.icon_number_base_6:before {
	content: "\e642";
}
.icon_number_base_7:before {
	content: "\e643";
}
.icon_number_base_8:before {
	content: "\e644";
}
.icon_number_base_9:before {
	content: "\e645";
}
.icon_number_base_0:before {
	content: "\e646";
}
.icon_checkmark:before {
	content: "\e647";
}
.icon_checkmark_base:before {
	content: "\e648";
}
.icon_cance_base:before {
	content: "\e649";
}
.icon_cance:before {
	content: "\e64a";
}
.icon_plus_base:before {
	content: "\e64b";
}
.icon_plus:before {
	content: "\e64c";
}
.icon_minus_base:before {
	content: "\e64d";
}
.icon_minus:before {
	content: "\e64e";
}
.icon_notice_base:before {
	content: "\e64f";
}
.icon_notice:before {
	content: "\e650";
}
.icon_qrcode2:before {
	content: "\f029";
}
.icon_print:before {
	content: "\f02f";
}
.icon_caret_down_1:before {
	content: "\f0d7";
}
.icon_caret_up_1:before {
	content: "\f0d8";
}
.icon_caret_left_1:before {
	content: "\f0d9";
}
.icon_caret_right_1:before {
	content: "\f0da";
}
.icon_caret_left_2:before {
	content: "\f104";
}
.icon_caret_right_2:before {
	content: "\f105";
}
.icon_caret_up_2:before {
	content: "\f106";
}
.icon_caret_down_2:before {
	content: "\f107";
}
.icon_weibo:before {
	content: "\f18a";
}
.icon_renren:before {
	content: "\f18b";
}
.icon_qq:before {
	content: "\f1d6";
}
.icon_wechat:before {
	content: "\f1d7";
}
.icon_toggle_off:before {
	content: "\f204";
}
.icon_toggle_on:before {
	content: "\f205";
}
.icon_users_base:before {
	content: "\e651";
}
.icon_user_base:before {
	content: "\e652";
}
.icon_users_1:before {
	content: "\e653";
}
.icon_user_1:before {
	content: "\e654";
}
.icon_mapmarker:before {
	content: "\e655";
}
.icon_th_menu:before {
	content: "\e656";
}
.icon_th_list:before {
	content: "\e657";
}
.icon_phonelink:before {
	content: "\e658";
}
.icon_share:before {
	content: "\e659";
}
.icon_check_box:before {
	content: "\e65a";
}
.icon_check_box_outline-blank:before {
	content: "\e65b";
}
.icon_radio_button_off:before {
	content: "\e65c";
}
.icon_radio_button_on:before {
	content: "\e65d";
}
.icon_phone:before {
	content: "\e65e";
}
.icon_mobile:before {
	content: "\e65f";
}
.icon_user_3:before {
	content: "\e660";
}
.icon_compass:before {
	content: "\e661";
}
.icon_earth:before {
	content: "\e662";
}
.icon_pictures:before {
	content: "\e663";
}
.icon_github:before {
	content: "\e664";
}
.icon_github_2:before {
	content: "\e665";
}
.icon_flickr:before {
	content: "\e685";
}
.icon_flickr_2:before {
	content: "\e666";
}
.icon_vimeo:before {
	content: "\e667";
}
.icon_twitter:before {
	content: "\e668";
}
.icon_twitter_2:before {
	content: "\e669";
}
.icon_facebook:before {
	content: "\e66a";
}
.icon_facebook_2:before {
	content: "\e66b";
}
.icon_googleplus:before {
	content: "\e66c";
}
.icon_googleplus_2:before {
	content: "\e686";
}
.icon_pinterest:before {
	content: "\e66d";
}
.icon_pinterest_2:before {
	content: "\e66e";
}
.icon_tumblr:before {
	content: "\e66f";
}
.icon_tumblr_2:before {
	content: "\e670";
}
.icon_linkedin:before {
	content: "\e671";
}
.icon_linkedin_2:before {
	content: "\e672";
}
.icon_dribbble:before {
	content: "\e673";
}
.icon_dribbble_2:before {
	content: "\e674";
}
.icon_stumbleupon:before {
	content: "\e675";
}
.icon_stumbleupon_2:before {
	content: "\e676";
}
.icon_qq_2:before {
	content: "\e677";
}
.icon_instagram:before {
	content: "\e678";
}
.icon_dropbox:before {
	content: "\e679";
}
.icon_evernote:before {
	content: "\e67a";
}
.icon_skype:before {
	content: "\e67b";
}
.icon_skype_2:before {
	content: "\e67c";
}
.icon_picasa:before {
	content: "\e67d";
}
.icon_behance:before {
	content: "\e67e";
}
