@charset "utf-8";

/* index 解决方案 */

.solution_index{
	
}
.solution_index .content{
	margin: 20px auto 48px auto;
}
.solution_index .content .lists{
	/*text-align: center;*/
	font-size: 0;
}
.solution_index .content .lists .list{
	/*background: #000;*/
	/*float: left;*/
	display: inline-block;
	/*width: 212.5px;*/
	width: 21.25%;

	font-size: 10px;
	vertical-align: top;
	
	margin: 0 0 0 50px;
	margin: 0 0 0 5%;
}
.solution_index .content .lists .list:first-child{
	margin: 0 0 0 0;
}
.solution_index .content .lists .list .link{
	display: block;
}

.solution_index .content .lists .list .link .ico_wrap{
	width:108px;
	height: 108px;
	display: block;
	margin:0 auto;
	position: relative;
}

.solution_index .content .lists .list .link .ico_wrap .origin{
	height: 108px;
	width: 108px;
	position: absolute;
}

.solution_index .content .lists .list .link .ico_wrap .frame{
	height: 100px;
	width: 100px;

	border-right: 4px solid #f3f3f3;
	border-left: 4px solid #f3f3f3;
	border-top: 4px solid #f3f3f3;
	border-bottom: 4px solid #f3f3f3;

	/*border-bottom:none;*/
	/*border-radius: 100px 0 0 100px;*/
	border-radius: 100%;

	/*margin:0 54px 0 0;*/
	margin: 0;

	display: block;
}

.solution_index .content .lists .list .link .ico_wrap .frame_t{
	height: 50px;
	width: 100px;
	border-radius: 100px 100px 0 0;
	margin:0 0 54px 0;
	border-bottom: none;
}


.solution_index .content .lists .list .link .ico_wrap .frame_r{
	height: 100px;
	width: 50px;
	border-radius: 0 100px 100px 0;
	margin:0 0 0 54px;
	border-left: none;
}

.solution_index .content .lists .list .link .ico_wrap .frame_b{
	height: 50px;
	width: 100px;
	border-radius: 0 0 100px 100px;
	margin:54px 0 0 0;
	border-top: none;
}

.solution_index .content .lists .list .link .ico_wrap .frame_l{
	height: 100px;
	width: 50px;

	border-radius: 100px 0 0 100px;
	margin:0 54px 0 0;
	border-right: none;
}


.solution_index .content .lists .list .link .ico_wrap .ico{
	font-size: 5em;
	text-align: center;
	display: block;
	line-height: 108px;
	height: 108px;
	width: 108px;
	vertical-align: middle;
	color: #e7000a;
}
.solution_index .content .lists .list .link .title{
	font-size: 2em;
	line-height: 2em;
	color: #838383;
	text-align: center;
	margin: 20px 0 10px 0;
}
.solution_index .content .lists .list .link .detail{
	font-size: 1.4em;
	line-height: 1.8em;
	color: #838383;
	text-align: center;
}

.solution_index .content .lists .list .link:hover{

}
.solution_index .content .lists .list .link:hover .ico_wrap .origin{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
.solution_index .content .lists .list .link:hover .ico_wrap .frame{
	border-color:#e7000a;
}

.solution_index .content .lists .list .link:active .ico_wrap .origin .frame_l{
	-webkit-transform:translate(-8px,0);
	-moz-transform:translate(-8px,0);
	-ms-transform:translate(-8px,0);
	-o-transform:translate(-8px,0);
	transform:translate(-8px,0);
}
.solution_index .content .lists .list .link:active .ico_wrap .ico{
	color: #ab0007;
}

/* index 产品平台 */
.product_index{
	overflow: hidden;
}
.product_index .product_index_wrap{
	width: 50%;
	min-width: 500px;
	
	height: 300px;
	float: left;
	display: block;
	overflow: hidden;
	
}
.product_index .product_index_wrap .product_content{
	background: url(../images/sprites_product_index.png) no-repeat -1000px 0;
	height: 300px;
	min-width: 500px;
	max-width: 700px;
	width: 100%;
	display: block;
	overflow: hidden;
	position: relative;
}



.product_index .product_index_wrap .product_content .txt{
	color: #fff;
	font-size: 3.2em;
	padding: 160px 0 0 186px;
	position: relative;
}
.product_index .product_index_wrap .detail{
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	background: rgba(0,0,0,.9);
	display:table;
	opacity: 0;
	filter: alpha(opacity=0);
}
.product_index .product_index_wrap .detail_center{
	display:table-cell;
	vertical-align: middle;
	font-size: 1.6em;
	color: #fff;
	padding: 20px;
}

.product_index .paiplus{
	background-color: #e63232;
	/*float: left;*/
}
.product_index .paiplus .product_content{
	background-position: 20px 0px;
	float: right;
}
.product_index .paiplus .detail{
	right: -50%;
}

.product_index .paiplus:hover{
	/*background-color: #e63232;*/
}
.product_index .paiplus:hover .detail{
	right: -1px;
	opacity: 1;
	filter: alpha(opacity=100);
}


.product_index .aiwangpai{
	background-color: #ffdc4f;
}
.product_index .aiwangpai .product_content{
	background-position: 20px -300px;
	float: left;
}
.product_index .aiwangpai .detail{
	left: -50%;
}

.product_index .aiwangpai:hover{
	/*background-color: #ffdc4f;*/
}
.product_index .aiwangpai:hover .product_content{
	
}
.product_index .aiwangpai:hover .detail{
	left: 0;
	opacity: 1;
	filter: alpha(opacity=100);
}

/*.product_index:hover .paiplus{
	color: #fff;
}*/


/* index 案例 */
.case_index{

}
.case_index .content{

}
.case_index .content .case{

}
.case_index .content .case .list{

}


/* index 行业荣誉 */
.honor_index{
	height: 494px;
	/*background: #f3f3f3;*/
	background:#e63232;
	margin: 10px 0;
}
.honor_index .honor_lists{
	font-size: 0;
	text-align: center;
	margin: 30px 0;
}
.honor_index .honor_lists .list{
	display:inline-block;
	+display:inline;
	+zoom: 1;
	width: 180px;
/*	height: 100px;*/
	margin: 0 0 0 20px;
	vertical-align: top;
	
}
.honor_index .honor_lists .list:first-child{
	margin: 0;
}
.honor_index .honor_lists .list .img{
	display: block;
	width: 180px;
	height: 100px;
	background: #fff;
}
.honor_index .honor_lists .title{
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	height: 54px;
}



/* index 新媒体 */
.media_index{

}

.media_index .media_index_lists{
	font-size: 0;
	text-align: center;
}
.media_index .media_index_lists .list{
	display:inline-block;
	+display:inline;
	+zoom: 1;
	width: 180px;
	height: 100px;
	margin: 0 0 0 20px;
}
.media_index .media_index_lists .list:first-child{
	margin: 0;
}
.media_index .media_index_lists .list .img{
	display: block;
	width: 180px;
	height: 100px;
}


/* sub 解决方案 */
.solution_txtimg{

}
.solution_txtimg .content{
	background-position: 88% center;
	background-repeat: no-repeat;
	margin: 0 0 50px 0; 
}
.solution_txtimg .list_wrap{
	width: 59.8%;
	margin: 20px 0 20px 2%;
}
.solution_txtimg .list_wrap .list{
	overflow: hidden;
	margin: 20px 0;
}
.solution_txtimg .list_wrap .list .ico{
	float: left;
	display: block;
	width: 50px;
	font-size: 3em;
	line-height: 50px;
}
.solution_txtimg .txtimg_title{
	font-size: 18px;
	color: #000;
	line-height: 50px;
}
.solution_txtimg .txtimg_txt{
	font-size: 1.4em;
	line-height: 1.8em;
	margin: 0 0 0 50px;
}

.solution_txtimg .list_wrap .list:hover{

}
.solution_txtimg .list_wrap .list:hover .ico{
	color: #e7000a;
	-webkit-transform:translate(8px,0);
	-moz-transform:translate(8px,0);
	-ms-transform:translate(8px,0);
	-o-transform:translate(8px,0);
	transform:translate(8px,0);
}

.ext_solution_imgtxt{

}
.ext_solution_imgtxt .content{
	background-position: 12% center;
	background-repeat: no-repeat;
	overflow: hidden; 
}
.ext_solution_imgtxt .list_wrap{
	width: 59.8%;
	float: right;
	margin: 20px 2% 20px 0;
}


/* 微博话题营销 */
.solution_weibo{
	
}
.solution_weibo .content{
	background-image: url(../images/wechat.png);
}


/* 微信互动营销 */
.solution_wechat{
	
}
.solution_wechat .content{
	/*background: url(../images/wechat.png) no-repeat 88% center;*/
}

/* 社交整合营销 */
.solution_social{
	
}
.solution_social .content{

}
.solution_social .list_wrap{
	/*margin: 20px 2%;*/
	overflow: hidden;
}
.solution_social .list_wrap .list{
	float: left;
	width: 46%;

	margin: 20px 2%;
	overflow: hidden;
	/*vertical-align: text-top;*/
	
}
.solution_social .list_wrap .list:nth-child(2n+1){
	clear: left;
}
.solution_social .list_wrap .clear_l{
	clear: left;
}

.solution_social .list_wrap .listx1{
	width: 92%;
}

.solution_social .list_wrap .list .ico{
	float: left;
	display: block;
	width: 50px;
	font-size: 3em;
	line-height: 50px;
}
.solution_social .social_title{
	font-size: 18px;
	color: #000;
	line-height: 50px;
}
.solution_social .social_txt{
	font-size: 1.4em;
	line-height: 1.8em;
	margin: 0 0 0 50px;
}

.solution_social .list_wrap .list:hover{

}
.solution_social .list_wrap .list:hover .ico{
	color: #e7000a;
	-webkit-transform:translate(8px,0);
	-moz-transform:translate(8px,0);
	-ms-transform:translate(8px,0);
	-o-transform:translate(8px,0);
	transform:translate(8px,0);
}



/* 移动数字营销 */
.solution_mobile{
	/*width: auto;*/
}
.solution_mobile .content{
	background-image: url(../images/mac.png);
}



/*div.mod_wrap:target{
	background: red;
}*/






/* 平台产品 */

/* 图文左右 */
.mod_txtimg_pct50{

}
.mod_txtimg_pct50 .ul_wrap{
	
}
.mod_txtimg_pct50 .ul_wrap .list{
	margin: 40px 2%;
	border-top:2px solid #f3f3f3;
	overflow: hidden;
}
.mod_txtimg_pct50 .ul_wrap .list:first-child{
	border-top:none;
}
.mod_txtimg_pct50 .ul_wrap .list .img,
.mod_txtimg_pct50 .ul_wrap .list .txt{
	width: 46%;
	
	margin: 20px 0;
}
.mod_txtimg_pct50 .ul_wrap .list .img{
	display: block;
	float: right;
}
.mod_txtimg_pct50 .ul_wrap .list .txt{
	float: left;
}



.mod_txtimg_pct50 .ul_wrap .list .txt .title{
	font-size: 3em;
	line-height: 1.8em;
	color: #e7000a;
	margin: 0px 0 20px 0;
}
.mod_txtimg_pct50 .ul_wrap .list .txt .detail{
	font-size: 1.4em;
	line-height: 1.8em;
}

.mod_txtimg_pct50 .ul_wrap .list:nth-child(2n) .img{
	float: left;
}
.mod_txtimg_pct50 .ul_wrap .list:nth-child(2n) .txt{
	float: right;
}


.mod_txtimg_pct50 .ul_wrap .ext_mod_imgtxt_pct50{

}
.mod_txtimg_pct50 .ul_wrap .ext_mod_imgtxt_pct50 .img{
	float: left;
}
.mod_txtimg_pct50 .ul_wrap .ext_mod_imgtxt_pct50 .txt{
	float: right;
}

.platform{

}


/* news 新闻 */
.news{
	margin: 40px auto;
}
.news .mod_page{
	margin: 0 5.6% 0 0;
	text-align: right;
}


.news_media{

}











/* about */

/* about  团队介绍 */
.about_company{

}
.about_company .content{
	overflow: hidden;
	position: relative;
	height: 100%;
}

.about_company .content .txt,
.about_company .content .imgs_wrap{
	margin: 20px 2%;
	width: 46%;
}

.about_company .content .txt{
	float: left;
	height: 100%;
	position: absolute;
	display: block;
	margin: 0 2%;
}

.about_company .content .txt .txt_center{
	position: absolute;
	left: 0;
	right: 0
	top:0;
	bottom: 0;
	margin: auto;
}
.about_company .content .txt .txt_center .detail{
	font-size: 1.6em;
	line-height: 1.8em;
	text-indent: 2em;
	position: relative;
	margin-top:-50%;
}

.about_company .content .imgs_wrap{
	float: right;
}

/* about  团队 */
.about_team{

}
.about_team .ext_lists_square_nolink .list a{
	cursor: default;
}


/* about 团队生活 */
.about_life{

}



/* about 发展历程 */
.about_history{

}
.about_history .img{
	margin:0 auto; 
	display: block;
}


/* about 人才引进 */
.about_jods{

}



/* about  */








/* css3动画 */
.solution_index .content .lists .list .link,
.solution_index .content .lists .list .link .ico_wrap,
.solution_index .content .lists .list .link .ico_wrap .origin,
.solution_index .content .lists .list .link .ico_wrap .frame,
.case_index .content .case .list .link,
.case_index .content .case .list .link .img,
.case_index .content .case .list .link .title_wrap,
.product_index .detail,
.nav_sub,
.solution_txtimg .list_wrap .list,
.solution_txtimg .list_wrap .list .ico,
.solution_social .list_wrap .list .ico{
	transition:all .4s ease-out;
	-webkit-transition:all .4s ease-out;
	-moz-transition:all .4s ease-out;
	-ms-transition:all .4s ease-out;
	-o-transition:all .4s ease-out;
		
}


/*
	全局
	
	  	  主色
	 	  辅色 e7000a
    	背景色
    	点睛色

	  字体颜色 

	主标题颜色 e7000a
	副标题颜色 000
	  正文颜色 838383
	
	  过渡颜色

	主标题大小 30px
	副标题大小 18px
	  正文大小 14px

	主标题行高 30px
	副标题行高 18px
	  正文行高 14px

		  红色 e7000a
		  浅红 e63232

	      浅灰 f3f3f3
		  深灰 3b3b3b

		  边距
		内填充

*/