@charset "utf-8";

/* index 解决方案 */

.solution_index{
	
}
.solution_index .content{
	margin: 20px auto 48px auto;
}
.solution_index .content .lists{
	/*text-align: center;*/
	font-size: 0;
}
.solution_index .content .lists .list{
	/*background: #000;*/
	/*float: left;*/
	display: inline-block;
	/*width: 212.5px;*/
	width: 21.25%;

	font-size: 10px;
	vertical-align: top;
	
	margin: 0 0 0 50px;
	margin: 0 0 0 5%;
}
.solution_index .content .lists .list:first-child{
	margin: 0 0 0 0;
}
.solution_index .content .lists .list .link{
	display: block;
}

.solution_index .content .lists .list .link .ico_wrap{
	width:108px;
	height: 108px;
	display: block;
	margin:0 auto;
	position: relative;
}

.solution_index .content .lists .list .link .ico_wrap .origin{
	height: 108px;
	width: 108px;
	position: absolute;
}

.solution_index .content .lists .list .link .ico_wrap .frame{
	height: 100px;
	width: 100px;

	border-right: 4px solid #f3f3f3;
	border-left: 4px solid #f3f3f3;
	border-top: 4px solid #f3f3f3;
	border-bottom: 4px solid #f3f3f3;

	/*border-bottom:none;*/
	/*border-radius: 100px 0 0 100px;*/
	border-radius: 100%;

	/*margin:0 54px 0 0;*/
	margin: 0;

	display: block;
}

.solution_index .content .lists .list .link .ico_wrap .frame_t{
	height: 50px;
	width: 100px;
	border-radius: 100px 100px 0 0;
	margin:0 0 54px 0;
	border-bottom: none;
}


.solution_index .content .lists .list .link .ico_wrap .frame_r{
	height: 100px;
	width: 50px;
	border-radius: 0 100px 100px 0;
	margin:0 0 0 54px;
	border-left: none;
}

.solution_index .content .lists .list .link .ico_wrap .frame_b{
	height: 50px;
	width: 100px;
	border-radius: 0 0 100px 100px;
	margin:54px 0 0 0;
	border-top: none;
}

.solution_index .content .lists .list .link .ico_wrap .frame_l{
	height: 100px;
	width: 50px;

	border-radius: 100px 0 0 100px;
	margin:0 54px 0 0;
	border-right: none;
}


.solution_index .content .lists .list .link .ico_wrap .ico{
	font-size: 5em;
	text-align: center;
	display: block;
	line-height: 108px;
	height: 108px;
	width: 108px;
	vertical-align: middle;
	color: #e7000a;
}
.solution_index .content .lists .list .link .title{
	font-size: 2em;
	line-height: 2em;
	color: #838383;
	text-align: center;
	margin: 20px 0 10px 0;
}
.solution_index .content .lists .list .link .detail{
	font-size: 1.4em;
	line-height: 1.8em;
	color: #838383;
	text-align: center;
}

.solution_index .content .lists .list .link:hover{

}
.solution_index .content .lists .list .link:hover .ico_wrap .origin{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
.solution_index .content .lists .list .link:hover .ico_wrap .frame{
	border-color:#e7000a;
}

.solution_index .content .lists .list .link:active .ico_wrap .origin .frame_l{
	-webkit-transform:translate(-8px,0);
	-moz-transform:translate(-8px,0);
	-ms-transform:translate(-8px,0);
	-o-transform:translate(-8px,0);
	transform:translate(-8px,0);
}
.solution_index .content .lists .list .link:active .ico_wrap .ico{
	color: #ab0007;
}

/* index 产品平台 */
.product_index{
	overflow: hidden;
	/*display: block;*/
}
.product_index .product_index_wrap{
	width: 50%;
	min-width: 500px;
	
	height: 300px;
	float: left;
	display: block;
	overflow: hidden;
	position: relative;
	
}
.product_index .product_index_wrap .product_content{
	background: url(../images/sprites_product_index.png) no-repeat -1000px 0;
	height: 300px;
	min-width: 500px;
	max-width: 700px;
	width: 100%;
	display: block;
	overflow: hidden;
	/*position: relative;*/
}



.product_index .product_index_wrap .product_content .txt{
	color: #fff;
	font-size: 3.2em;
	padding: 160px 0 0 186px;
}
.product_index .product_index_wrap .detail_wrap{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.9);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#E6000000', endColorstr='#E6000000'),alpha(opacity=0);
	opacity: 0;
	/*filter: alpha(opacity=0);*/
}
:root .product_index .product_index_wrap .detail_wrap{
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#E6000000', endColorstr='#E6000000'),alpha(opacity=0);
}
.product_index .product_index_wrap .detail{

	max-width: 700px;
	min-width: 500px;
	height: 100%;
	position: relative;
	display:table;
}
.product_index .product_index_wrap .detail_center{
	display:table-cell;
	vertical-align: middle;
	font-size: 1.6em;
	color: #fff;
	padding: 20px;
}


/* π+ */
.product_index .paiplus{
	background-color: #e63232;
	background-color:#385692;
	/*float: left;*/
}
.product_index .paiplus .product_content{
	background-position: 20px 0px;
	float: right;
}

.product_index .paiplus .detail{
	right: -100%;
	float: right;
}



.product_index .paiplus:hover{

}
.product_index .paiplus:hover .detail_wrap{
	opacity: 1;
	/*filter: alpha(opacity=100);*/
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#E6000000', endColorstr='#E6000000'),alpha(opacity=100);
}
.product_index .paiplus:hover .detail{
	right: 0px;
	/*opacity: 1;
	filter: alpha(opacity=100);*/
}





.product_index .aiwangpai{
	background-color: #ffdc4f;

}
.product_index .aiwangpai .product_content{
	background-position: 20px -300px;
	float: left;
}
.product_index .aiwangpai .detail{
	left: -100%;
	/*float: right;*/
}

.product_index .aiwangpai:hover{

}
.product_index .aiwangpai:hover .detail_wrap{
	opacity: 1;
	/*filter: alpha(opacity=100);*/
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#E6000000', endColorstr='#E6000000'),alpha(opacity=100);
}
.product_index .aiwangpai:hover .detail{
	left: 0px;
	/*opacity: 1;
	filter: alpha(opacity=100);*/
}



/* index 案例 */
.case_index{

}
.case_index .content{

}
.case_index .content .case{

}
.case_index .content .case .list{

}


/* index 行业荣誉 */
.honor_index{
	height: 494px;
	background: #f3f3f3;
	/*background:#e63232;*/
	/*margin: 10px 0;*/
	/*padding: 10px 0; */
}
.honor_index .honor_lists{
	font-size: 0;
	text-align: center;
	margin: 30px 0;
}
.honor_index .honor_lists .list{
	display:inline-block;
	+display:inline;
	+zoom: 1;
	width: 180px;
/*	height: 100px;*/
	margin: 0 0 0 20px;
	vertical-align: top;
	
}
.honor_index .honor_lists .list:first-child{
	margin: 0;
}
.honor_index .honor_lists .list .img{
	display: block;
	width: 180px;
	height: 100px;
	background: #fff;
}
.honor_index .honor_lists .title{
	/*color: #fff;*/
	font-size: 14px;
	line-height: 18px;
	height: 54px;
}



/* index 新媒体 */
.media_index{

}

.media_index .media_index_lists{
	font-size: 0;
	text-align: center;
}
.media_index .media_index_lists .list{
	display:inline-block;
	+display:inline;
	+zoom: 1;
	width: 180px;
	height: 100px;
	margin: 0 0 0 20px;
}
.media_index .media_index_lists .list:first-child{
	margin: 0;
}
.media_index .media_index_lists .list .img{
	display: block;
	width: 180px;
	height: 100px;
}


/* sub 解决方案 */
.solution_txtimg{

}
.solution_txtimg .content{
	background-position: 88% center;
	background-repeat: no-repeat;
	margin: 0 0 50px 0; 
}
.solution_txtimg .list_wrap{
	width: 59.8%;
	margin: 20px 0 20px 2%;
}
.solution_txtimg .list_wrap .list{
	overflow: hidden;
	margin: 20px 0;
}
.solution_txtimg .list_wrap .list .ico{
	float: left;
	display: block;
	width: 50px;
	font-size: 3em;
	line-height: 50px;
}
.solution_txtimg .txtimg_title{
	font-size: 18px;
	color: #000;
	line-height: 50px;
}
.solution_txtimg .txtimg_txt{
	font-size: 1.4em;
	line-height: 1.8em;
	margin: 0 0 0 50px;
}

.solution_txtimg .list_wrap .list:hover{

}
.solution_txtimg .list_wrap .list:hover .ico{
	color: #e7000a;
	-webkit-transform:translate(8px,0);
	-moz-transform:translate(8px,0);
	-ms-transform:translate(8px,0);
	-o-transform:translate(8px,0);
	transform:translate(8px,0);
}

.ext_solution_imgtxt{

}
.ext_solution_imgtxt .content{
	background-position: 12% center;
	background-repeat: no-repeat;
	overflow: hidden; 
}
.ext_solution_imgtxt .list_wrap{
	width: 59.8%;
	float: right;
	margin: 20px 2% 20px 0;
}


/* 微博话题营销 */
.solution_weibo{
	
}
.solution_weibo .content{
	font-size: 0;
	margin: 20px 0;
	text-align: center;
}
.solution_weibo .content .list{
	border-top:1px solid #838383;
	border-left:1px solid #838383;
	width: 33%;
	font-size: 10px;
	display: inline-block;
	+display: inline;
	+zoom:0;
	overflow: hidden;
	padding: 20px 0;
}

.solution_weibo .content .list:nth-child(3n+1){
	border-left:none;
}
.solution_weibo .content .listBL{
	border-left:none;
}
.solution_weibo .content .list:nth-child(1),
.solution_weibo .content .list:nth-child(2),
.solution_weibo .content .list:nth-child(3){
	border-top:none;
}
.solution_weibo .content .listBT{
	border-top:none;
}

.solution_weibo .content .list .circle{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #e7000a;
	margin: 10px auto;
	/*padding: 20px;*/

	text-align: center;
	overflow: hidden;
	position: relative;
}
.solution_weibo .content .list .num{
	font-size: 5em;
	color: #fff;
	line-height: 100px;
	/*text-shadow:rgba(0,0,0,.8) 0px 0px 0px;*/
	display: block;
	position: absolute;
	/*top: 0;*/
	left: 0;
	right: 0;
}



/*.solution_weibo .content .list .num_01{
	text-shadow:rgba(0,0,0,1) 2px 1px 0px;
}
.solution_weibo .content .list .num_02{
	text-shadow:rgba(0,0,0,1) 3px 2px 0px;
}
.solution_weibo .content .list .num_03{
	text-shadow:rgba(0,0,0,1) 4px 3px 0px;
}
.solution_weibo .content .list .num_04{
	text-shadow:rgba(0,0,0,1) 5px 4px 0px;
}
.solution_weibo .content .list .num_05{
	text-shadow:rgba(0,0,0,1) 6px 5px 0px;
}
.solution_weibo .content .list .num_06{
	text-shadow:rgba(0,0,0,1) 7px 6px 0px;
}
.solution_weibo .content .list .num_07{
	text-shadow:rgba(0,0,0,1) 8px 7px 0px;
}
.solution_weibo .content .list .num_08{
	text-shadow:rgba(0,0,0,1) 9px 8px 0px;
}
.solution_weibo .content .list .num_09{
	text-shadow:rgba(0,0,0,1) 10px 9px 0px;
}
.solution_weibo .content .list .num_10{
	text-shadow:rgba(0,0,0,1) 11px 9.2px 0px;
}*/
/*
.solution_weibo .content .list .num_11{
	text-shadow:rgba(0,0,0,1) 12px 11px 0px;
}
.solution_weibo .content .list .num_12{
	text-shadow:rgba(0,0,0,1) 13px 12px 0px;
}
.solution_weibo .content .list .num_13{
	text-shadow:rgba(0,0,0,1) 14px 13px 0px;
}
.solution_weibo .content .list .num_14{
	text-shadow:rgba(0,0,0,1) 15px 14px 0px;
}
.solution_weibo .content .list .num_15{
	text-shadow:rgba(0,0,0,1) 16px 15px 0px;
}
.solution_weibo .content .list .num_16{
	text-shadow:rgba(0,0,0,1) 17px 16px 0px;
}
.solution_weibo .content .list .num_17{
	text-shadow:rgba(0,0,0,1) 18px 17px 0px;
}
.solution_weibo .content .list .num_18{
	text-shadow:rgba(0,0,0,1) 19px 18px 0px;
}
.solution_weibo .content .list .num_19{
	text-shadow:rgba(0,0,0,1) 20px 19px 0px;
}
.solution_weibo .content .list .num_20{
	text-shadow:rgba(0,0,0,1) 21px 20px 0px;
}*/

/*.solution_weibo .content .list .num_01{
	text-shadow:rgba(0,0,0,.8) 4px 4px 0px;
}
.solution_weibo .content .list .num_01{
	text-shadow:rgba(0,0,0,.8) 4px 4px 0px;
}
.solution_weibo .content .list .num_01{
	text-shadow:rgba(0,0,0,.8) 4px 4px 0px;
}*/

.solution_weibo .content .list .solution_weibo_title{
	font-size: 1.8em;
	/*padding: 0 0 30px 0;*/
	text-align: center;
}

.solution_weibo .content .list:hover .circle{
	/*background: #044692;*/
}



/* temp */
.solution_weibo .ext_content{

}
.solution_weibo .ext_content .list{

}

.solution_weibo .ext_content .list .circle{
	width: 120px;
	height: 120px;
	background: url(../images/sprites_weibo.png) no-repeat 0 -1000px;

	margin: 20px auto;
}
.solution_weibo .ext_content .list .num{
	font-size: 5em;
	color: #fff;
	line-height: 120px;
	display: none;
}

.solution_weibo .ext_content .list1 .circle{
	background-position: 0px 0px;
}
.solution_weibo .ext_content .list2 .circle{
	background-position: 0px -120px;
}
.solution_weibo .ext_content .list3 .circle{
	background-position: 0px -240px;
}
.solution_weibo .ext_content .list4 .circle{
	background-position: 0px -360px;
}
.solution_weibo .ext_content .list5 .circle{
	background-position: 0px -480px;
}
.solution_weibo .ext_content .list6 .circle{
	background-position: 0px -600px;
}


.solution_weibo .ext_content .list:hover .circle{
	/*background: #044692;*/
}

.solution_weibo .ext_content .list1:hover .circle{
	background-position: -120px 0px;
}
.solution_weibo .ext_content .list2:hover .circle{
	background-position: -120px -120px;
}
.solution_weibo .ext_content .list3:hover .circle{
	background-position: -120px -240px;
}
.solution_weibo .ext_content .list4:hover .circle{
	background-position: -120px -360px;
}
.solution_weibo .ext_content .list5:hover .circle{
	background-position: -120px -480px;
}
.solution_weibo .ext_content .list6:hover .circle{
	background-position: -120px -600px;
}




/* 微信互动营销 */
.solution_wechat{
	
}
.solution_wechat .content{
	background-image: url(../images/wechat.png);
}



/* 社交整合营销 */
.solution_social{
	
}
.solution_social .content{

}
.solution_social .list_wrap{
	/*margin: 20px 2%;*/
	overflow: hidden;
}
.solution_social .list_wrap .list{
	float: left;
	width: 46%;
	min-height: 126px;
	margin: 20px 2%;
	overflow: hidden;
	/*vertical-align: text-top;*/
	
}
.solution_social .list_wrap .list:nth-child(2n+1){
	clear: left;
}
.solution_social .list_wrap .clear_l{
	clear: left;
}

.solution_social .list_wrap .listx1{
	width: 92%;
}

.solution_social .list_wrap .list .ico{
	float: left;
	display: block;
	width: 50px;
	font-size: 3em;
	line-height: 50px;
}
.solution_social .social_title{
	font-size: 18px;
	color: #000;
	line-height: 50px;
}
.solution_social .social_txt{
	font-size: 1.4em;
	line-height: 1.8em;
	margin: 0 0 0 50px;
}

.solution_social .list_wrap .list:hover{

}
.solution_social .list_wrap .list:hover .ico{
	color: #e7000a;
	-webkit-transform:translate(8px,0);
	-moz-transform:translate(8px,0);
	-ms-transform:translate(8px,0);
	-o-transform:translate(8px,0);
	transform:translate(8px,0);
}



/* 移动数字营销 */
.solution_mobile{
	/*width: auto;*/
}
.solution_mobile .content{
	background-image: url(../images/mac.png);
}



/*div.mod_wrap:target{
	background: red;
}*/






/* 平台产品 */

/* 图文左右 */
.mod_txtimg_pct50{

}
.mod_txtimg_pct50 .ul_wrap{
	
}
.mod_txtimg_pct50 .ul_wrap .list{
	margin: 40px 2%;
	border-top:2px solid #f3f3f3;
	overflow: hidden;
}
.mod_txtimg_pct50 .ul_wrap .list:first-child{
	border-top:none;
}
.mod_txtimg_pct50 .ul_wrap .list .img,
.mod_txtimg_pct50 .ul_wrap .list .txt{
	width: 46%;
	
	margin: 20px 0;
}
.mod_txtimg_pct50 .ul_wrap .list .img{
	display: block;
	float: right;
}
.mod_txtimg_pct50 .ul_wrap .list .txt{
	float: left;
}



.mod_txtimg_pct50 .ul_wrap .list .txt .title{
	font-size: 3em;
	line-height: 1.8em;
	color: #e7000a;
	margin: 0px 0 20px 0;
}
.mod_txtimg_pct50 .ul_wrap .list .txt .detail{
	font-size: 1.4em;
	line-height: 1.8em;
}

.mod_txtimg_pct50 .ul_wrap .list:nth-child(2n) .img{
	float: left;
}
.mod_txtimg_pct50 .ul_wrap .list:nth-child(2n) .txt{
	float: right;
}


.mod_txtimg_pct50 .ul_wrap .ext_mod_imgtxt_pct50{

}
.mod_txtimg_pct50 .ul_wrap .ext_mod_imgtxt_pct50 .img{
	float: left;
}
.mod_txtimg_pct50 .ul_wrap .ext_mod_imgtxt_pct50 .txt{
	float: right;
}

.platform{

}
.platform_detail{
	
}


/* 精选案例 */
.case{

}
.case_detail{
	padding: 0;
}
.case_detail .content .mod_nav_three{
	padding: 20px 0 0 0;
	/*position: fixed;*/
	top: 70px;
}

.case_detail{
	
}

.nav_t{
	/*font-size: 10px;*/
	padding: 20px 5.57142857142857%;
}
.nav_t .list{
	display: inline-block;
}
.nav_t .list .link{
	/*font-size: 15px;*/
	/*line-height: 18px;*/
}



/* news 新闻 */
.news{
	/*margin: 0 auto 40px auto;*/
}
.news .mod_page{
	/*margin: auto 5.6% auto 0;*/
	margin-right: 5.6%;
	text-align: right;
}



.news_media{

}


.news_detail{
	width: 800px;
	max-width: 800px;
	margin: 0 auto 80px auto;
}







/* about */

/* about  团队介绍 */
.about_company{

}
.about_company .content{
	overflow: hidden;
	position: relative;
	height: 100%;
}

.about_company .content .txt,
.about_company .content .imgs_wrap{
	margin: 20px 2%;
	width: 46%;
}

.about_company .content .txt{
	float: left;
	height: 100%;
	position: absolute;
	display: block;
	margin: 0 2%;
}

.about_company .content .txt .txt_center{
	position: absolute;
	left: 0;
	right: 0
	top:0;
	bottom: 0;
	margin: auto;
}
.about_company .content .txt .txt_center .detail{
	font-size: 1.6em;
	line-height: 1.8em;
	text-indent: 2em;
	position: relative;
	margin-top:-50%;
}

.about_company .content .imgs_wrap{
	float: right;
}

/* about  团队 */
.about_team{
	overflow: hidden;
}
.about_team .ext_lists_square_nolink .list a{
	cursor: default;
}
.about_team .list .name,
.about_team .list .position{
	text-align: center;
}
.about_team .list .name{
	font-size: 1.8em;
	line-height: 1.8em;
	color: #000;
}
.about_team .list .position{
	font-size: 1.4em;
	line-height: 1.6em;
}



/* about 团队生活 */
.about_life{

}
.about_life .mod_page{
	margin-right: 5.6%;
	text-align: right;
}


/* about 发展历程 */
.about_history{

}
.history_wrap{
	height: 401px;
	width:1000%;
	padding: 0 0 0 2px;
	position: relative;
}

.history_wrap .wire{
	background: #838383;
	height:1px;
	width: 100%;
	position: absolute;
	top:0;
	bottom: 0;
	margin: auto;
	display: block;
}


.history_wrap .year_wrap{
	position: relative;
	top:50%;
	margin-top: -42px;
	margin:-42px 40px 0 0; 
	height: 84px;
	display: table-cell;
	float: left;	
}

.history_wrap .circle{
	vertical-align: middle;
	border-radius: 50%;
	/*background-color: #e7000a;*/
	display:inline-block;
	color: #fff;
	text-align: center;
	/*width: 50px;
	height: 50px;
	line-height: 50px;
	border: 2px solid #fff;*/
	width: 52px;
	height: 52px;


	top:0;
	bottom: 0;
	margin: auto;
	/*z-index: 3;*/
}
.history_wrap .circle .date{
	border-radius: 50%;
	background-color: #e7000a;
	display:block;
	color: #fff;
	/*text-align: center;*/
	width: 50px;
	height: 50px;
	line-height: 50px;
	border: 2px solid #fff;
	/*top:0;
	bottom: 0;
	margin: auto;*/
	position: relative;
	z-index: 1;
}


.history_wrap .year{
	width: 82px;
	height: 82px;
	font-size: 2.5em;

}
.history_wrap .year .date{
	width: 80px;
	height: 80px;
	line-height: 80px;
}


.history_wrap .month{
	font-size: 1.8em;
	margin: 0 10px;
}
.history_wrap .born{
	font-size: 3em;
}

.history_wrap .info{
	position: relative;
	font-size: 0.7777em;
	height: 200px;
	width: 230px;
	overflow: hidden;
	left: 50%;
}
.history_wrap .info .side{
	height: 120px;
	width: 180px;
	border: 0px solid #e7000a;
	border: 0px solid #f3f3f3;
	position: relative;
}
.history_wrap .info .side .txt{
	color: #838383;
	line-height: 1.7em;
	text-align: left;
}
.history_wrap .info .side .side_wire{
	width: 3px;
	height: 0%;
	background-color: #e7000a;
	display: block;
	position: absolute;
	top:0;
}

/* 上右 */
.history_wrap .info_tr{
	border-left:1px dashed #838383;
	top:-227px;
	left: 50%;
}
.history_wrap .info_tr .side{
	margin: 0px 0 0 20px;
	padding: 0 0 0 20px;
	border-left-width: 3px;
}
.history_wrap .info_tr .side .side_wire{
	left: -3px;
}

/* 下右 */
.history_wrap .info_br{
	border-left:1px dashed #838383;
	top: -25px;
}
.history_wrap .info_br .side{
	margin: 80px 0 0 20px;
	padding: 0 0 0 20px;
	border-left-width: 3px;
}
.history_wrap .info_br .side .side_wire{
	left: -3px;
}

/* 上左 */
.history_wrap .info_tl{
	border-right:1px dashed #838383;
	top:-227px;
	left: -206px;
}
.history_wrap .info_tl .side{
	margin: 0px 20px 0 0;
	padding: 0 20px 0 0;
	border-right-width: 3px;
	/*border-right:3px solid #e7000a;*/
}
.history_wrap .info_tl .side .side_wire{
	right: -3px;
}

/* 下左 */
.history_wrap .info_bl{
	border-right:1px dashed #838383;
	top:0;
	left: -206px;
}
.history_wrap .info_bl .side{
	margin: 80px 20px 0 0;
	padding: 0 20px 0 0;
	border-right-width: 3px;
}
.history_wrap .info_bl .side .side_wire{
	right: -3px;
}


.history_wrap .year_wrap .year .info_tl,
.history_wrap .year_wrap .year .info_tr{
	top:-242px;
}

.history_wrap .year_wrap .year .info_tl .txt,
.history_wrap .year_wrap .year .info_bl .txt,
.history_wrap .year_wrap .year .info_tr .txt,
.history_wrap .year_wrap .year .info_tr .txt{
	font-size: 0.7em;
}

.history_wrap .year_wrap .born .info_tl .txt,
.history_wrap .year_wrap .born .info_bl .txt,
.history_wrap .year_wrap .born .info_tr .txt,
.history_wrap .year_wrap .born .info_br .txt{
	font-size: 0.58em;
	font-family:Helvetica,Arial,"Microsoft YaHei","微软雅黑",STXihei,"华文细黑",SimSun,"宋体",sans-serif;

}

.history_wrap .month:nth-child(2n+1){
	margin-left: 110px;
}
.history_wrap .ml100{
	margin-left: 110px;
}


.history_wrap .circle:hover {
	/*box-shadow: 0 0 2px 0px #000;*/
	
}
.history_wrap .circle:hover .date{
	-webkit-transform:scale(1.04);
	-moz-transform:scale(1.04);
	-ms-transform:scale(1.04);
	-o-transform:scale(1.04);
	transform:scale(1.04);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.history_wrap .circle:hover .info .side .side_wire{
	height: 100%;
}
/*.history_wrap .circle .info:hover .side .side_wire{
	height: 100%;
}*/
.history_wrap .circle{
	transition:all .4s ease-out;
	-webkit-transition:all .4s ease-out;
	-moz-transition:all .4s ease-out;
	-ms-transition:all .4s ease-out;
	-o-transition:all .4s ease-out;
}


/*.about_history .img{
	margin:0 auto; 
	display: block;
}*/


/* about 人才引进 */
.about_jods{

}
.about_jods .jods_lists{

}
.about_jods .jods_lists .list{

	/*padding: 40px 0 0 0;*/
	position:relative;
	overflow:hidden;
	margin: 0 0 50px 0;
}
.about_jods .jods_lists .list:first-child{
	/*border-top:1px solid transparent;*/
	/*padding:0;*/
}
.about_jods .jods_lists .list .job_title{
	font-size: 3em;
	/*line-height: 1.8em;*/
	color: #e7000a;
	/*margin: 0 0 20px 0;*/
	padding: 20px 0 20px 0; 
	border-top:2px solid #f3f3f3;
}
.about_jods .jods_lists .list .sub_title{
	font-size: 1.8em;
	line-height: 1.8em;
	color: #000;
	text-align: left;
	margin: 0;
	padding: 0;
}

.about_jods .jods_lists .list .wire{
	background: #e7000a;
	background: #3b3b3b;
	width: 100%;
	height: 2px;
	position:absolute;
	top: -2px;
	/*left: 0;*/
	/*bottom: -2px;*/
}
.about_jods .jods_lists .list:hover .wire{
	top:0px;
	/*bottom: 0px;*/
}

.about_jods .jods_lists .list .info{
	font-size: 1.4em;
	line-height: 1.8em;
	margin: 0px 0 20px 0;
}
.about_jods .jods_lists .list .info a{
	color: #838383;
}
.about_jods .jods_lists .list .info a:hover{
	color: #e7000a;
}
.about_jods .jods_lists .list .info ul,
.about_jods .jods_lists .list .info li{
	margin: 0 0 0 1em;
	list-style-type: decimal;
	/*list-style-: */
}


/*.about_jods .jods_lists .list .publish_web,
.about_jods .jods_lists .list .request,
.about_jods .jods_lists .list .describe{
	font-size: 1.4em;
	line-height: 1.8em;
}
.about_jods .jods_lists .list .publish_web a{
	color: #838383;
}


.about_jods .jods_lists .list{

}*/



.about_jods .mod_page{
	margin-right: 5.6%;
	text-align: right;
}


/* about  */








/* css3动画 */
.solution_index .content .lists .list .link,
.solution_index .content .lists .list .link .ico_wrap,
.solution_index .content .lists .list .link .ico_wrap .origin,
.solution_index .content .lists .list .link .ico_wrap .frame,
.case_index .content .case .list .link,
.case_index .content .case .list .link .img,
.case_index .content .case .list .link .title_wrap,
.product_index .detail,
.product_index .product_index_wrap .detail_wrap,
.nav_sub,
.solution_txtimg .list_wrap .list,
.solution_txtimg .list_wrap .list .ico,
.solution_social .list_wrap .list .ico,
.about_jods .jods_lists .list .wire,
.about_jods .jods_lists .list .info a,
.history_wrap .circle .date,
.history_wrap .info .side .side_wire{
	transition:all .4s ease-out;
	-webkit-transition:all .4s ease-out;
	-moz-transition:all .4s ease-out;
	-ms-transition:all .4s ease-out;
	-o-transition:all .4s ease-out;
		
}


/*

	全局
	
	  	  主色
	 	  辅色 e7000a
    	背景色
    	点睛色

	  字体颜色 

	主标题颜色 e7000a
	副标题颜色 000
	  正文颜色 838383
	
	  过渡颜色

	主标题大小 30px
	副标题大小 18px
	  正文大小 14px

	主标题行高 30px
	副标题行高 18px
	  正文行高 14px

		  红色 e7000a
		  浅红 e63232
		  深色 8a0006
		       a60007


	      浅灰 f3f3f3
		  深灰 3b3b3b

		  边距
		内填充

*/